# Python Basics for Astronomy

In [1]:
print("hello world!")

hello world!

### 1. Variables and Constants

In [2]:
x = 4
y = 5
print(x + x + y + x + y)

22

In [3]:
y = 1

### 2. Basic Data Types

In [4]:
# Create varaibles to store the information about a planet in our Solar System
planet_name = 'Venus'
planet_age = '4.6 Billion Years'
planet_index = 1

In [5]:
# Displaying the data values for each variables
print(planet_name)
print(planet_age)
print(planet_index)

Venus
4.6 Billion Years
1

In [6]:
# Checking the type of variables by using type() command
print(type(planet_name))
print(type(planet_age))
print(type(planet_index))

<class 'str'>
<class 'str'>
<class 'int'>

In [7]:
z = 3.2
print(type(z))

<class 'float'>

### 3. f-strings

In [8]:
# Understanding the power of f-strings
name_planet = 'Saturn'
moons_planet = 150
print(f"Planet {name_planet} has {moons_planet} Moons")

Planet Saturn has 150 Moons

In [9]:
# String concatenation
str_1 = "Earth is the only planet with Life."
str_2 = "Maybe not! :D"
print(f'{str_1} {str_2}')

Earth is the only planet with Life. Maybe not! :D

### 4. User Inputs

In [2]:
# Use input() to take user inputs
user_name = input("Enter your name:- ")

In [3]:
# Displaying the variable and its type given by the user
print(user_name)
print(type(user_name))

<class 'str'>

In [4]:
# Ask user to input their fav number
user_fav_number = input('Enter your favourite number:- ')

In [5]:
# Diplay the variable and its type given by the user
print(user_fav_number)
print(type(user_fav_number))

3
<class 'str'>

### 5. Data Type Conversion

In [6]:
# Commands to convert --> str(input), int(input), float(input)

# Convert a string data into integer and float
str_to_int = int(user_fav_number)
print(str_to_int)
print(type(str_to_int))

str_to_float = float(user_fav_number)
print(str_to_float)
print(type(str_to_float))

3
<class 'int'>
3.0
<class 'float'>

In [7]:
# Get user input of two different integers and add them together
n1 = int(input('Give any integer number:- '))
n2 = int(input('Give one more integer:- '))
print(f"The sum of {n1} and {n2} is {n1+n2}")

The sum of 5 and 6 is 11

### 6. Control Flow
* For Loop and While Loop
* Condition Statements

In [8]:
# range(start, end, skip) ---> Start is inclusive and end is exclusive
range(1, 11)

range(1, 11)

In [9]:
# For loop
for index in range(1, 11, 2):
  print(index)

1
3
5
7
9

In [10]:
# convert any string into lower case
str_demo = 'Upper Case'
print(str_demo)

print(str_demo.lower())

Upper Case
upper case

In [ ]:
# While Loop

ct = 0
print('--- Type "quit" to exit! ---')
while True:
  obj = input(f'Enter your favourite Celestial Object {ct+1}:- ')
  ct += 1 # ct = ct + 1
  if obj.lower() == 'quit':
    break

### 7. Functions

In [11]:
# Creating a function to greet viewers of this video without any input arguments
def greet():
  print('Hey Astrophiles!')

In [12]:
# Call that function
greet()

Hey Astrophiles!

In [13]:
# Define a function to greet a person whose name will be given as an input
def greet_person(name):
  print(f'Hey {name}, I hope you are enjoying this session and learning a lot of things in Python!')

In [14]:
# Call that function
greet_person('Rohan')

Hey Rohan, I hope you are enjoying this session and learning a lot of things in Python!

In [15]:
# Call this function with different name
greet_person('Karan')

Hey Karan, I hope you are enjoying this session and learning a lot of things in Python!

In [16]:
# Call this function to greet everyone here watching the video
greet_person('everyone')

Hey everyone, I hope you are enjoying this session and learning a lot of things in Python!

In [17]:
# Postional Arguments
def greeting(name, msg):
  print(f'Hey {name}, {msg}')

In [18]:
# Call this function by placing the input arguments in the same order while building it
greeting('Lavanya', 'Are you an Astrophile?')

Hey Lavanya, Are you an Astrophile?

In [ ]:
# Call the function by shifting the postions of the arguments
greeting('Are you an Astrophile?', 'Lavanya')

In [ ]:
# Call this function with keyword arguments
greeting(msg = 'Are you an Astrophile?', name = 'Lavanya')

In [ ]:
# Default arguments
def greeting_with_default_args(name, msg='Welcome to this program on Astronomy Visualization!'):
  print(f'Hey {name}, {msg}')

In [ ]:
# Call this function without passing msg arg
greeting_with_default_args('Rohan', msg = 'Whats up?')

In [19]:
# Create a function that will either add, subtract, multiply or divide two input numbers
def basic_calc(n1, n2, operation):

  if operation.lower() == 'add':
    return n1+n2
  elif operation.lower() == 'subtract':
    return n1-n2
  elif operation.lower() == 'multiply':
    return n1*n2
  elif operation.lower() == 'divide':
    return n1/n2
  else:
    print(f'Opertation input can either take:- add, multiply, subtract or divide. You gave:- {operation}. Try again')

In [20]:
addition = basic_calc(2, 3, 'add')
print(addition)

5

In [21]:
multiply = basic_calc(3, 3, 'multiply')
print(multiply)

9

In [22]:
basic_calc(3, 3, 'daskdjakdjak')

Opertation input can either take:- add, multiply, subtract or divide. You gave:- daskdjakdjak. Try again